html,
body {
    color: #26404d;
    font-family: "Open Sans";
    min-height: 100vh;
    height: 75%;
    /* font-size: 14px; */
}

p {
    font-family: "Open Sans";
}

nav {
    background-color: #26404d;

}

a.navbar-brand img {
    max-width: 35px;
}

div.elem>h3 {
    margin: 25px 0;
}

div.elem>a>img {
    width: 100%;
}

.hover:hover {
    opacity: 0.7;
}

.video {
    width: 100%;
}

.navbar-toggler {
    border: none;
}

h3 {
    text-align: center;
}


.heading,
h3,
#hi {
    font-weight: 700;
}

p.h5 {
    font-size: 0.8rem;
}

.elem {
    padding-top: 25px;
}

#intro {
    background-color: #26404d;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
}

.website {
    width: 100%;
    height: 70%;
    border: 3px #ACACAC solid;
    align-self: center;
}

div>.website {
    height: 600px;
}

.content {
    margin: 5% 10%;
}

.content h2 {
    font-weight: 700;
}

div+img.myImg.img-fluid {
    display: flex;
}

.icon {
    width: 20px;
    height: 20px;
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 150px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.myImg:hover {
    opacity: 0.8;
}

/* The Close Button */
.close {
    position: absolute;
    top: 70px;
    right: 70px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* XSmall devices (phones, 320px and up) */
@media (min-width: 320px) {
    #hi {
        text-align: left;
        font-size: 4rem;
    }

    .heading {
        font-size: 2rem;
    }

    .video {
        height: 230px;
    }

    #me {
        width: 200px;
    }

    .icon {
        width: 30px;
        height: 30px;
    }

    p.h5 {
        font-size: 0.8rem;
    }

    #cv {
        margin: auto;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
    #hi {
        text-align: left;
        font-size: 5rem;
    }

    .heading {
        font-size: 3rem;

    }

    p {
        font-size: 0.8rem;
    }

    #me {
        width: 300px;

    }

    p.h5 {
        font-size: 1rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #hi {
        text-align: right;
        font-size: 7rem;
    }

    .heading {
        font-size: 3rem;

    }

    .video {
        height: 300px;
    }

    .modal-content {
        width: 100%;
    }

    #me {
        width: 300px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    #cv {
        margin: 0;
    }

}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .video {
        height: 350px;
    }

    #me {
        min-width: 10%;
    }

    .icon {
        width: 50px;
        height: 50px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #hi {
        text-align: right;
        font-size: 12rem;
    }

    .heading {
        font-size: 4rem;

    }

    p {
        font-size: 1rem;
    }

    .video {
        height: 90%;
    }
}